<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blj.mapper.OrderMapper">

    <resultMap type="com.blj.pojo.Order" id="Order">
        <result column="id" property="id"/>
        <result column="order_name" property="orderName"/>
        <result column="order_user" property="orderUser"/>
    </resultMap>

    <sql id="simple_where">
        <where>
            <if test="id!=null">and id =#{id}</if>
            <if test="orderName!=null and orderName!=''">and order_name=#{orderName}</if>
            <if test="orderUser!=null and orderUser!=''">and order_user=#{orderUser}</if>
        </where>
    </sql>

    <sql id="Base_Column_List">
		id,order_name,order_user
	</sql>


    <select id="queryList" resultMap="Order">
        select
        <include refid="Base_Column_List"/>
        from t_order
        <include refid="simple_where"/>
        order by id desc
    </select>

    <select id="queryOne" resultMap="Order">
        select
        <include refid="Base_Column_List"/>
        from t_order
        <include refid="simple_where"/>
        order by id desc
    </select>

    <insert id="insert">
        insert into t_order
        (`order_name` ,order_user)
        values (#{orderName},#{orderUser})
    </insert>

</mapper>